<div class="span4">
	<button type="button" class="close rm" data-dismiss="rm" href="/remove/<%= post.id %>">×</button>
	<div class="well">
		<h2><a href="/u/<%= post.user %> "><%= post.user %></a>说</h2>
		<p><small><%= post.time %></small></p>
		<p class="content"><%= post.post %></p>
	</div>
</div>